.alt-screen-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.alt-screen-header__chevron {
    font-size: 30px;
}

.alt-screen-header-alt__title {
    font-size: 25px;
    font-weight: 600;
}

.alt-screen-header-alt__icons {
    font-size: 25px;
}