.user-component,
.user-component__column:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600px;
    font-size: 20px;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl {
    width: 80px;
    height: 80px;

}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 300;

}

.user-component__column:last-child {
    color: gray;
}


.user-component__column--chats {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
}