@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
@import 'reset.css';
@import 'variable.css';
/*components*/
@import 'component/status-bar.css';
@import 'component/nav-bar.css';
@import 'component/screen-header.css';
@import 'component/user-component.css';
@import 'component/badge.css';
@import 'component/dot.css';
/*screens*/
@import 'screens/friends.css';
@import 'screens/chat.css';
@import 'screens/find.css';

body {
    padding-top:40px;
    font-family: 'Open Sans', sans-serif;
    height:1000vh;
    color: #2e363e;
    /*
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   */
}

.main-screen {
    padding: 0px var(--horizontal-space);
}