.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    font-size: 35px;
}

.find-icons__icon span {
    margin-top: 18px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-bottom: var(--main-border);
    border-top: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.recommended-friends div {
    margin: 100px 0px;
    text-align: center;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    padding:8px 0px;
    border-bottom:var(--main-border);
}

.open-post__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.open-post__title {
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post__hashtag {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__members-count {
    opacity: 0.5;
    font-size: 14px;
    border-right: var(--main-border);
    padding-right: 5px;
    margin-right: 5px;
}

.open-post__members-status {
    color: pink;
}
.open-post__column:last-child {
    position: relative;
}

.open-post__column:last-child div {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 30%;
    font-weight: 100;
    padding: 7px;
    font-size: 13px;
    text-align: center;
}

.open-post__column:last-child div span {
    margin-left: 3px;
}

.open-post__column:last-child img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
@keyframes heartBeat {
    0% {
        transform: none;
    }

    50% {
        color: tomato;
        transform: scale(1.2);
    }

    100% {
        transform: none;

    }

}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}