#friends-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom:10px;
    margin-top:-10px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}
.friends-screen__channel {
    margin-top: 20px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: gray;
}