.content {
    border-bottom: var(--main-border);
}


.content-row {
    display: flex;
    justify-content: flex-start;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    height: 70px;
    margin: 30px 0px;
    position: relative;
}

.content-item>i {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.suggestions {
    margin-top: 20px;
}

.suggestions__header {
    font-weight: 500;
    margin-bottom: 10px;
}

.suggestions__row {
    display: flex;
    justify-content: start;
}

.suggestions_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    height: 70px;
    margin: 30px 0px;
    position: relative;
}

.suggestions_item>i {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.suggestions_item>div {
    color: rgba(0, 0, 0, 0.6);
}